html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Avenir';
  src: url("./fonts/Avenir.ttc");
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Pro';
  src: url("./fonts/ITCAvantGardePro-Bold.otf");
}